.alertNit{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:0px}
.alertNit-vermelho{color:#fffbf0;background-color:#ff0000;border-color:#800000}
.alertNit-1{color:#000000;background-color:#fcc543;border-color:#000000}
.text-1{color:#c0c0c0;}
.text-2{color:#a0a0a4;}
.text-2min{color:#a0a0a4;font-size:0.6em;}